html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex; 
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292929;
}

.Sidebar {
  width: 220px;
  background-color: #1f1f1f;
  color: white;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  color: white;
  overflow-y: auto;
}
