*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(122, 107, 95);

}
.boton{
  background: #ff7b00e3;
  color: #212402;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
