* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(122, 107, 95); 
  font-family: sans-serif;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff9800; 
  color: #212121; 
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 12px; 
  cursor: pointer;
  border: none;
  outline: none;
  gap: 10px;
  min-width: 10rem;
  min-height: 3rem;
  transition: background 0.3s ease;
  font-weight: bold;
}

.boton:hover {
  background: #fb8c00; 
}

.boton strong {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.boton.active {
  box-shadow: 0 0 0 2px #00b0ff; 
}